@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style Guide */

:root {
    --berry: #96005A;
    --orange: #FAB37A;
    --wave: #215E81;
    --pink: #FAC2C7;
    --plum: #481930;
    --egg: #FFF5F5;
}

body {
    background-color:var(--egg); 
}

h1 {
    font-family: 'Calistoga', serif;
    color:var(--berry); 
    font-size: 55px;
    line-height: 65px;
    letter-spacing:1px;
    margin-bottom:56px;
}

h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    color:var(--wave); 
    font-size: 26px;
    line-height:30px;
    text-transform:uppercase;
    margin-bottom: 16px;
}

h3 {
    font-family: 'Calistoga', serif;
    color:var(--egg); 
    font-size: 44px;
    line-height:55px;
    margin-bottom: 56px;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    color:var(--plum); 
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
}

a {
    text-decoration:none;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    color:var(--wave); 
    font-size: 16px;
    line-height: 22px;
}

button {
    padding: 8px 24px;
    border-radius: 15px;
    border: solid var(--orange) 3px;
    background:transparent;
    color: var(--egg);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 800;
    text-transform:uppercase;
    letter-spacing:0.5px;
    font-size:14px;
    cursor: pointer;
}
  
button:hover {
    background: var(--wave);
    border: solid var(--wave) 3px;
    color:var(--egg);
    transition-duration:.2s;
}


/* Navigation */

.logo img {
    width: 330px;
    margin-top:1%;
}

.navigation {
    text-align:center;
    padding: 2% 20% 2% 20%;
    width:100%;
    z-index:999;
    position:relative;
}
  
.nav-toggle {
    display:none;
}
  
.nav-toggle-label {
    position:absolute;
    top:0;
    left:0;
    margin-left:2em;
    height:100%;
    display:flex;
    align-items:center;
}

.nav-toggle-label span {
    color:var(--egg);
    font-size:2em;
    cursor: pointer;
}
  
nav {
    position:absolute;
    text-align:left;
    top:100%;
    left:0;
    width:100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin:top;
    background:var(--plum);
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom:1em;
    margin-left:1em;
    margin-top:1em;
}
  
nav a {
    color:var(--egg);
    text-decoration:none;
    font-size:1.1em;
    opacity:0;
    transition: opacity 150ms ease-in-out;
}
  
nav a:hover {
    color:var(--orange);
}

.nav-toggle:checked ~nav {
    transform: scale(1,1);
}
  
.nav-toggle:checked ~nav a {
    opacity:1;
    transition: opacity 250ms ease-in-out 200ms;
}
  
.navigation button {
    display:none;
    margin-top:0;
}

/* Hero */

.hero {
    position:relative;
    height:145vh;
    background-image: url(images/hero-mobile.jpg);
    background-size:cover;
    margin-bottom:135px;
}

.hero-text {
    margin-left:5%;
}

.hero h1 {
    color:var(--orange);
    margin-bottom:48px;
    margin-top:60px;
    font-size:64px;
}

.hero h2 {
    color:var(--egg);
    margin-bottom:56px;
}

button.buttonalt {
    background:var(--orange);
    color:var(--berry);
    margin-right:1.5em;
}

button.buttonalt:hover {
    background: var(--wave);
    border: solid var(--wave) 3px;
    color:var(--egg);
    transition-duration:.2s;
}

/*  Body Content */

.narrow-content {
    margin-left:15%;
    margin-right:15%;
}

.card-image {
    margin-bottom:120px;
}

.card-image .text-column {
    width:100%;
    margin-right:2em;
}

img {
    max-width: 100%;
    height:auto;
    border-radius:16px;
    margin-top:32px;
}

.statistics {
    margin: auto;
    width: 50%;
    margin-bottom:120px;
}

.stat-card {
    text-align:center;
    margin-bottom:56px;
}

.stat-card h1 {
    color:var(--orange);
    margin-bottom:12px;
}

.banner {
    background-color:var(--plum);
    margin-bottom:120px;
}

.banner img {
    border-radius:0;
    margin-top:0;
    object-fit:cover;
}

.banner-text {
    margin: 88px 4em 0 4em;
    padding-bottom: 56px;
}

.banner-text h2 {
    color:var(--pink);
}

.banner-text p {
    color:var(--egg);
    margin-bottom:2em;
}

.bullet-text {
    display:flex;
}

.bullet-text img {
    margin-right:2em;
    height:300%;
    padding-top:2em;
    padding-bottom:2em;
}

/* Healthcare Cards */

.grid-item {
    border-radius:16px;
    background-color: var(--berry);
    padding:4em;
    margin-bottom:65px;
}

.left-column p {
    margin-bottom:65px;
}

.grid-item p {
    margin-bottom: 56px;
}

#pink {
    color: var(--pink);
}

#pinkbg {
    background-color: var(--pink);
}

#egg {
    color: var(--egg);
}

#orangebg {
    background-color: var(--orange);
}

#bluebg {
    background-color: var(--wave);
}

#berry {
    color: var(--berry);
}

#plum {
    color: var(--plum);
}

#plumbg {
    background-color: var(--plum);
}

/* WELCOME TO DESKTOP */

@media screen and (min-width: 900px) {

    .nav-toggle-label {
        display:none;
    }
      
    .navigation {
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding-left:5%;
        padding-right:5%;
    }
      
    .navigation button {
        display:initial;
    }
      
    nav {
        all:unset;
    }
      
    nav ul {
        display:flex;
        margin-right:18em;
        margin-left:2em;
    }

    nav li {
        margin-right:1.4em;
    }
      
    nav a {
        opacity:1;
        position:relative;
    }

    .hero {
        background-image: url(images/hero-butterfly.jpg);
        height:100vh;
    }
    
    .hero h1 {
        margin-top:100px;
    }
    
    .card-image {
        display:flex;
    }

    img {
        margin-top:0;
    }

    .statistics {
        display:flex;
        margin-left:10%;
        margin-right:10%;
        margin: 0 auto;
        margin-bottom:80px;
        width:80%;
    }

    .stat-card {
        margin: 0 2.5em 2.5em 0;
    }

    .banner {
        display:flex;
    }

    .banner img {
        width: 55%;
    }    

    .banner-text {
        margin-top:140px;
        margin-right:8em;
        margin-left:4em;
    }

    .bullet-text img {
        width:60px;
        padding-top:1.5em;
    }

    .healthcare-grid {
        display:inline-flex;
        gap: 40px;
        margin-left:11%;
        margin-right:11%;
    }

    .left-column {
        width:50%;
    }

    .right-column {
        width:50%;
    }

}